

h1 {color: green;}


body 
{ background: url("MyGIF.gif") 0 0 / cover;
  background-color: purple}

P {color: red}

figcaption {color: yellow}

.nav ol {
  list-style: none;
  background-color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  font-color: green;
  line-height: 40px;
  height: 40px;
}
 
.nav a {
  float: center;
  text-decoration: none;
  background-color: black;
  color: orange;
  display: inline;
  padding: 10;
  margin: 10;
  border-left: 20;
  border-top: 20;
  border-right: 20;
  border-bottom: 20;
}
 
.nav a:hover {
  background-color: yellow;
}
 
.nav a.active {
  background-color: PeachPuff;
  color: Chocolate;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    float: right;
    display: block;
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
  }
}

  
  .boxed {
  border: 1px solid green ;
  background-color: blue;
}
  
  
